.errorpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.cartelubication {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error404 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 49pt;
  letter-spacing: 11px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
}
.rylost {
  font-family: "Roboto Mono", monospace;
  color: white;

  border: solid;
  margin-bottom: 3%;
}
.numbererror {
  display: flex;
  flex-direction: row;
}
.not {
  display: flex;
  flex-direction: row;
}
.found {
  display: flex;
  flex-direction: row;
}
#e,
#t,
#fo {
  animation: blink 2s 2;
  animation-delay: 1s;
}

@keyframes blink {
  from {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
  25% {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
  30% {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
  50% {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    opacity: 0.7;
  }
  75% {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
  to {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
}

#cero,
#d {
  animation: flicker 1.7s 2;
  animation-delay: 4s;
}

@keyframes flicker {
  0% {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }
  5% {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    opacity: 1;
  }
  50% {
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.3;
  }

  100% {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    opacity: 1;
  }
}
