.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
  flex-direction: column;
  background-color: black;
}
.gameInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 90vh;
}
/* #imageInfo {
  display: flex;
  text-align: left;
  height: 70vh;
  width: 100vw;
} */
/* .imageInfo {
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
} */
.image img {
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  float: right;

  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.imageInfo {
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.desc {
  /* height: 30vh;
  width: 750px; */
  border-radius: 0.25em;
  padding-top: 3px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  font-family: "Nunito", sans-serif;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
  text-align: center;
  color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 48.7vw;
  /* margin-left: 27.9%; */
}

.information {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: space-around;
  height: 100%;
  float: right;
  width: 100vw;
  /* font-family: "Press Start 2P", cursive; */
  border-radius: 0.25em;
  opacity: 1;
  color: #e9edc9;
  font-family: "Nunito", sans-serif;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.information h2 {
  display: inline-block;
  position: relative;
}

.close {
  font-size: 0.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: currentColor 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  margin-top: 40px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.close::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  border-radius: 0.25em;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
}

.close::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  padding: none;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
  border-radius: 0.25em;
}

.close:hover,
.close:focus {
  background-color: var(--clr-neon);
  border: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
  border-radius: 0.25em;
}
.close:hover::before,
.close:focus::before {
  opacity: 1;
}
.close:hover::after,
.close:focus::after {
  opacity: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
